$cred: #e2534b;
$clightred: #e5655d;
$cazure: #76c7c0;
body {
    font-family: 'Lato', sans-serif;
    background:#f3f3f3;
    color:#7f8c8c;
}

nav {
    background: url("../img/ruler.png") repeat-x bottom;
}

.navbar-collapse {
    margin-top: 18px;
    margin-bottom: 18px;
}

.navbar-default .navbar-brand {
    color: white;
    font-size: 20px;
    margin-top: 8px;

}

.navbar-default .navbar-brand span {
    font-size: 24px;
    font-weight: bold;
}

.btn {
    border-radius: 6px;
}
.btn.active, .btn:active {
    box-shadow: none;
    background-color: #62A29E; 
}


.btn-hot {
    /*color: #fff;
    background-color: #db5566;
    border-bottom:2px solid #af4451;
    box-shadow: 1px 1px 5px #888888;*/
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
    color: #fff;
    background-color: $clightred;
    border-bottom:3px solid $cred;
    outline: none;}


.btn-hot:active, .btn-hot.active {
    color: #fff;
    border-bottom:3px solid rgba(0,0,0,0.3);
    /*border-top:2px solid #9a3c47;
    margin-top: 2px;*/
}


.navbar-default {
    background-color: #76C7C0;
    height: 80px;
    margin-bottom:0;
    border-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
    color: white!important;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
}
.nav>li>a {
    padding: 1px;
}
.btn{
    margin: 4px;
    color: white;
}

.glyphicon-search {
    line-height:22px;
}
.navbar-nav>li>.dropdown-menu {
    background:$cred;
    padding:5px;
    top: 45px;
}
.dropdown-menu>li{
    &:first-child>a {
        margin-top:0;
    }
    &>a {
        border-radius:3px;
        background:$clightred;
        margin-top:5px;
        color:#FFF;
        position:relative;
        &:hover {
            background:#76c7c0;
            color:#FFF;
        }
    }
    .glyphicon-chevron-right {
        font-size: 10px;
        position: absolute;
        left: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 10px;
    }
}

.carousel {
    position: relative;
}
.carousel-inner {
    height: 500px;
    overflow: hidden;
}

.carousel-indicators {
    bottom: -40px;
}
.carousel-indicators li {
    border-radius: 0px;
    border: 0px;
    background-color: #B0B8B9;
    width :60px;
    margin: 0px 2.5px;
    height: 6px;
}
.carousel-indicators .active {
    width :60px;
    background-color: #E2534B;
    height: 6px;
    margin: 0px 2.5px;

}

.carousel-control span{
    background-color: #E2534B;
    opacity: 1;
    padding: 5px;
    margin: 0px;
    height: 53px!important;
    width: 42px!important;
    line-height: 40px;
    border-bottom: 3px solid rgba(0,0,0,0.3);
}

.glyphicon-chevron-left {
    border-radius: 0px 5px 5px 0px;
    margin: 0px!important;
    left: 0!important;
}

.glyphicon-chevron-right {
    border-radius: 5px 0px 0px 5px;
    //margin: 0px!important;
    right: 0!important;
}

.container .jumbotron {
    padding: 10px 25px;
    margin-top: 44px;
    h3{ 
        font-size:30px;
        margin-top:0;
        margin-bottom:5px;
    }
    p {
        font-size:13px;
        font-weight:400;
    }
    .btn {
        padding: 10px 40px;
        text-transform: uppercase;
        font-size: 18px;
        border-bottom: 3px solid #ac322b;
        margin-top: 10px;
    }
}

.container-boxes {
    text-align:center;
    .col-md-3 {
        background:#f8f8f8;
        margin-left: 4%;
        width: 22%;
        padding-top:50px;
        border-bottom:3px solid #c5c4c4;
        border-radius:5px;
        &:first-child {
            margin-left:0;
        }
        &:hover {
            background:#FFF;
            .glyphicon
            {
                color:$cred;
            }
            .btn {
                background:$cred;
            }
        }
    }
    .glyphicon {
        color:$cazure;
        font-size:40px;
    }
    h6 {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .btn {
        background:$cazure;
    }
    .btn-block {
        width: 90%;
        margin: 0 auto;
        margin-bottom: -17px;
        border-bottom:3px solid #c5c4c4;
        padding:12px;
    }
    p {
        margin-bottom:25px;
        padding: 12px;

    }
}


.form-horizontal {
    margin: 100px 0;
}

.form-group     {
    input {
        border-left: 4px solid grey ;
        border-right: 4px solid grey ;
        border-radius: 4px;
    }
    .green-input {
        border-left-color:#76c7c0;
        border-right-color:#76c7c0;
    }
    .red-input {
        border-left-color:#E2534B;
        border-right-color:#E2534B;
    }    

    button[type=submit] {
        padding: 10px 40px;
        text-transform: uppercase;
        font-size: 18px;
        border-bottom: 3px solid #ac322b;
        margin-top: 10px;
        background: $cred;
    }
}


footer {

    color: white;        
    a {
        color:white;
        text-decoration:none;
        &:hover {
            color:white;
            text-decoration:none;
        }
    }
    .footer-top {
        background: $cazure url(../img/ruler_white.png) top repeat-x;


        padding: 20px 0;

        .footer-left {

            p {
                margin: 12px 0;
            }
            .contact {
                margin: 3px 0;
            }
            em {
                font-size: 1.6em;
                position: relative;
                top: 2px;
                padding-left: 5px;
            }

        }

        .logo {

            font-size: 2.5em;
            text-transform: uppercase;
            span {
                text-transform: none;
            }
        }

        ul {
            list-style: none;
            padding-left: 15px;
            span {
                font-size: 0.7em;
                position: relative;
                top: 0;
                padding-right: 3px;
            }
        }

        img {
            padding: 15px;
            background: #098b80;
            border-radius: 5px;
            margin-top: 4px;
        }
        h5 {
            color:#497e79;
            &.white {
                color:#FFF;
            }
        }
        .dark {
            color:#497e79;
        }
    }

    .footer-down {
        background: #09a89a;

        color: white;
        ul {
            list-style: none;
            font-size: 1.2em;

        }
        small {
            padding-top: 5px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .carousel-inner {
        height: 350px;
    }
}

@media screen and (max-width: 1024px) {
    .btn-group-sm>.btn, .btn-sm {
        padding: 5px 5px;
    }
    .navbar-collapse {
        padding: 0;
        .navbar-nav {

            margin: 7.5px 0;
            .btn {
                margin: 4px 0px;
                padding: 5px 3px;
                border: 1px solid rgba(255, 0, 0, .0);
            }
        }
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color:#FFF;
    }
    .jumbotron .row .col-md-3 {
        text-align: center;
    }
    .container-boxes .col-md-3 {
        width: 48%;
        margin-bottom: 40px;
    }
    .container-boxes .col-md-3:nth-child(3) {
        margin-left:0;
    }
}
@media screen and (max-width: 768px) {
    .navbar-collapse {
        .navbar-nav {
                        width: 100%;
            background: rgba(95, 94, 94, 0.7);
        }
    }
        .carousel-inner {
        height: 200px;
    }
    footer .main-row > div {
        margin-bottom:50px;
    }
}

@media screen and (max-width: 480px) {
    .carousel-inner {
        height: 140px;
    }
    .container-boxes .col-md-3 {
        width: 100%;
        margin-left:0;
    }
}