/*body {
	margin:0px;
}
*/

body {
	padding-bottom: 80px;
}

body, a {
	color:#000;
}


.black {
	background: #000;
}

.logo {
	display: inline-block;
}

.logo img {
	height: 100px;
}

ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style-type: none;
}

a{
	text-decoration: none;
}

h3 {

	font-size: 20px;
}

form {
	display: inline-block;
	float: right;
	/*dodajemy float */
	margin-top: 30px;
}
/* dla dzieci wpierwszej linii */
/*czyli pierwszy div w sekcji !!!!!*/
section > div,
.footer > div
/*tu mozna dodac footer to tez ja obetnie  
do 1000 pixeli */
 {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

input {
	border-radius: 4px;
	padding: 8px 14px;
	font-size: 16px;
}


.orange {
	background: orange;
}

/*tu jest ta regula ktora nadpisuje margines
w inline block bo jest tu bug w html*/
.top-menu li {
	display: inline-block;
	margin-right: -5px;
}

.top-menu a {
	padding:10px 15px;
	display: block;
	color: #000;
}

/*tu musza byc 2 klasyzeby byly silniejsze 
od tego u gory .top-menu a */
.top-menu .active,
.top-menu a:hover {
	background: #000;
	color: #FFF;
}

.slider {
	background: #DDD;
	padding: 50px 0;
}


.slider h1 {
	font-size: 60px;
	font-weight: normal;
	margin: 0px;
}

.slider h5 {
	line-height: 22px;
	font-weight: normal;
	margin-top: 5px;
}


/*BUTTON*/

.button {
	background: #FFF;
	border: 1px solid #AAA;
	border-radius: 5px;
	padding: 8px 15px;
}

.button:hover {
	opacity: 0.7;
}

.green {
	background: #25dc25;
	color:#FFF;
	border:0;
	padding: 10px;
	text-shadow: 1px 1px #000;
}

.blue {
	background: blue;
	color: #FFF;
	border: 0px;
}

.large {
	padding: 12px 22px;
}

/*NEWS*/

/*lub to zrobic inline-block oraz
width 33% - to na article */
/*
to jest zrobione w 2 sposob 
.new article {
	display: inline-block;
	vertical-align: top;
	!!! to dziala tylko dla inline-block!!
	width:30.3%;
	margin-right: -4px;
	margin-left: 4.5%;
}

.news article:first-child {
	margin-left: 0;
}

.news a {
	display:inline-block;
	to przesunie szara kreske ramke nadol
}*/

.news > div {
	display: flex;
	padding:20px 0 30px 0;
	border-bottom: 1px solid #ddd;
}

article {
	padding-right: 30px;
	width:33.3%;

}

article p {
	margin: 0px;
	padding-bottom: 20px;
}

article h3 {
	margin-bottom: 5px;
}

.news article section {
	min-height: 270px;
}

/*CONTENT*/

.content > div {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
}

.content .left {
	width:66%;
/*	padding-right: 40px;
*/}

.content .right {
	width: 33%;

	/*margin-left: 3.5%*/
}

.content .right img {
	width:100%;
	padding-top: 20px

}

.content .right hr {
	margin-top: 40px
}

.content h3 {
	margin-top:0px;
}

.text {
	/*margin-right:20px;*/
	padding-right: 30px;
}


/*TABLE*/

.table {
	width: 95%;
	padding-right: 30px;
}

.table td {
	border-top: 1px solid #DDD;

}

.table th {
	text-align: left;
}

.table td,
.table th {
	padding: 10px;
}

.table tbody tr:first-child td {
	border-top:2px solid #DDD;
}

/*FOOTER*/

.footer {
	position:fixed;
	bottom:0;
	width: 100%;
	background: #DDD;
}

.footer h5 {
	padding: 10px;
	margin: 0px;
}



/*CONTACT PAGE*/
.content .contact-form {
	float: left;
	width: 80%;
}

.content .contact-form label {
	width: 13%;
	display: inline-block;
	font-weight: bold;
	text-align: right;
	padding-right: 20px;
	padding-top: 5px;
	vertical-align: top;
}

.content .contact-form li{
	padding: 10px 0px;
}

.content .contact-form input{
	width: 70%;
	border-style:ridge;
	padding-left: 5px;
}

.content .contact-form textarea {
	width: 73%;
	border-style:ridge;
	border-radius: 4px;
	border-color: inherit;
	border-width: 2px;
	height: 100px;
	}

.content .contact-form .button {
	width: auto;
	margin-left: 18%;
	padding-left: 22px;
	}

.content .address {
	display: inline-block;
	float: left;
	margin-top: 30px;
	font-family: "Comic Sans MS";
	font-size: 18px;
	font-weight: normal;
}

.address p {
	margin-bottom: 0;
	margin-top: 3px;
}
.content .address a {
	color: blue;
	font-weight: bold;
 
}

.address h4 {
	font-weight: bolder;
	margin-bottom: 0;
}