{% include 'header.twig' %}
<form method="POST" enctype="multipart/form-data">
    <input type="text" name="title" value="{{ movie['name'] }}"/>
    <input type="number" name="duration" value="{{ movie['duration'] }}"/>
    <input type="hidden" name="id" value="{{ movie['id'] }}"/>
    <input type="file" name="image"/>
    <input type="submit"/>
</form>
{% include 'footer.twig' %}