<form method="post" action="">
    <ul>
        <li>
            <label>Login</label>
            <input type="email" name="email" value="{{ email }}" placeholder="E-mail" required/>
        </li>
        <li>
            <label>Hasło</label>
            <input type="password" name="password" placeholder="Hasło" required />
        </li>    
        <li>
            <button>Zaloguj</button>
        </li>
        <li>
            <a href="reset-password">Reset forgotten password</a>
        </li>
    </ul>    
</form>