

{% include 'errors.twig' with {'errors' : errors } %}


<form method="post" action="">
    <ul>
        <li>
            <label>Email</label>
            <input type="email" name="email" placeholder="Email" required />
        </li>        
        <li>
            <button type="submit" >Send</button>
        </li>
    </ul>    
</form>
