<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
   {% include 'common.twig' %}
  
        RESPONSE
        <div> {{name}} </div>
        {% if name == 'Adam' %}
        CZEŚC
        {% else %}
        SPADAJ
        {% endif %}




    
</html>
